<mat-card>
  <mat-tab-group>
    <mat-tab label="Inbound">
      <mat-checkbox class="example-h2">Queue1</mat-checkbox>
      <mat-checkbox class="example-h2">Queue2</mat-checkbox>
      <mat-checkbox class="example-h2">Queue3</mat-checkbox>
      <mat-checkbox class="example-h2">Queue4</mat-checkbox>
    </mat-tab>
    <mat-tab label="Outbound">
      <mat-checkbox class="example-h2">Real Estate</mat-checkbox>
      <mat-checkbox class="example-h2">Credit Card</mat-checkbox>
      <mat-checkbox class="example-h2">Loan</mat-checkbox>
      <mat-checkbox class="example-h2">Insurance</mat-checkbox>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions>
    <button mat-flat-button color="primary">
      <a routerLink="mainpage">Submit</a>
    </button>
  </mat-card-actions>
</mat-card>
